01-n8n-portfolio-publisher-automation/AI Portfolio Publisher & Website Updater v2.json
{
  "name": "AI Portfolio Publisher & Website Updater v2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst today = new Date().toISOString().split(\"T\")[0];\n\nconst files = {\n  readme_content: `# ${data.project_number} - ${data.project_name}\n\n## Overview\n\nThis project is an n8n workflow automation built to solve a practical career and portfolio problem.\n\n## Problem Solved\n\n${data.problem_solved}\n\n## Tools Used\n\n${data.tools_used}\n\n## Workflow Steps\n\n${data.workflow_steps}\n\n## Key Learning\n\n${data.key_learning}\n\n## Files Included\n\n- README.md\n- setup-guide.md\n- linkedin-post.md\n- workflow-summary.md\n\n## Project Status\n\nCompleted basic documentation generation workflow.\n\n## Date Created\n\n${today}\n`,\n\n  setup_content: `# Setup Guide - ${data.project_name}\n\n## Prerequisites\n\n- n8n installed and running\n- Basic understanding of n8n nodes\n- GitHub repository for portfolio projects\n\n## Steps\n\n1. Open n8n.\n2. Create a new workflow.\n3. Add a Manual Trigger node.\n4. Add a Set node for project details.\n5. Add a Code node to generate portfolio files.\n6. Run the workflow.\n7. Review the generated documentation output.\n\n## Notes\n\nThis setup guide is generated automatically by the n8n Portfolio Publisher workflow.\n`,\nlinkedin_content: `Built a real automation system using n8n.\n\nProject: ${data.project_name}\n\nProblem:\n${data.problem_solved}\n\nSolution:\nDesigned an end-to-end workflow that captures input via form, processes data using automation logic, and publishes structured outputs directly to GitHub.\n\nTech Stack:\n${data.tools_used}\n\nWorkflow:\n${data.workflow_steps}\n\nWhat I learned:\n${data.key_learning}\n\nThis project is part of my journey building practical automation systems instead of just learning tools.\n\nAll outputs including documentation and workflow JSON are generated automatically.\n\n#n8n #Automation #WorkflowAutomation #GitHub #Projects #DataEngineering\n`,\n\n  summary_content: `# Workflow Summary - ${data.project_name}\n\n## Project Number\n\n${data.project_number}\n\n## Folder Name\n\n${data.folder_name}\n\n## Automation Purpose\n\n${data.problem_solved}\n\n## Technical Stack\n\n${data.tools_used}\n\n## Workflow Design\n\n${data.workflow_steps}\n\n## Learning Outcome\n\n${data.key_learning}\n`\n};\nconst cleanName = data.project_name\n  .toLowerCase()\n  .replace(/[^a-z0-9 ]/g, \"\")\n  .replace(/\\s+/g, \"-\");\n\ndata.folder_name = `${data.project_number}-${cleanName}`;\nreturn [\n  {\n    json: {\n      ...data,\n      readme_file_name: \"README.md\",\n      setup_file_name: \"setup-guide.md\",\n      linkedin_file_name: \"linkedin-post.md\",\n      summary_file_name: \"workflow-summary.md\",\n      ...files\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -528
      ],
      "id": "5ec4605b-b949-4d50-a164-e4b7dc057665",
      "name": "Generate Portfolio Files"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/README.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.readme_content}}",
        "commitMessage": "Added README for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2896,
        -528
      ],
      "id": "2935f528-4649-42e1-905b-bc06f3abc5fa",
      "name": "README",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/setup-guide.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.setup_content}}",
        "commitMessage": "AddedSetup Guide for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3120,
        -528
      ],
      "id": "f5a7539d-7cac-4094-ac4c-f20a28770052",
      "name": "Setup Guide",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/linkedin-post.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.linkedin_content}}",
        "commitMessage": "Added linkedin for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3344,
        -528
      ],
      "id": "c09aa2b2-85d6-46e0-a5b6-a4cc25eceaaa",
      "name": "LinkedIn Post",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/workflow-summary.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.summary_content}}",
        "commitMessage": "Added portfolio for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3568,
        -528
      ],
      "id": "a01941f2-f17c-49f5-b287-f20b7e024c53",
      "name": "Workflow Summary",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "n8n Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Project Number",
              "fieldName": "project_number"
            },
            {
              "fieldLabel": "Project Name",
              "fieldName": "project_name"
            },
            {
              "fieldLabel": "Folder Name",
              "fieldName": "folder_name"
            },
            {
              "fieldLabel": "Problem Solved",
              "fieldType": "textarea",
              "fieldName": "problem_solved"
            },
            {
              "fieldLabel": "Tools Used",
              "fieldName": "tools_used"
            },
            {
              "fieldLabel": "Workflow Steps",
              "fieldType": "textarea",
              "fieldName": "workflow_steps"
            },
            {
              "fieldLabel": "Key Learning",
              "fieldType": "textarea",
              "fieldName": "key_learning"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -16,
        -528
      ],
      "id": "707439b9-ee43-44eb-a599-c712d6cb93cd",
      "name": "On form submission",
      "webhookId": "5c1bf244-f6fc-4500-bff0-3055e6873e34"
    },
    {
      "parameters": {
        "jsCode": "const workflow = $workflow;\n\nreturn [\n  {\n    json: {\n      workflow_json: JSON.stringify(workflow, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        -528
      ],
      "id": "dd67abe3-d32c-497f-96cd-578bf96fa792",
      "name": "Generate Workflow Json"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/workflow.json\"}}",
        "fileContent": "={{$node[\"Generate Workflow Json\"].json.workflow_json}}",
        "commitMessage": "Added Workflow Json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3792,
        -528
      ],
      "id": "03c6be5b-1e21-4d60-b475-5ec175fa11d0",
      "name": "Create Workflow Json",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $node[\"Generate Portfolio Files\"].json;\n\nconst projectRepoBase = \"https://github.com/Srivastsav/n8n-portfolio/tree/main\";\nconst projectUrl = `${projectRepoBase}/${data.folder_name}`;\n\nconst tools = (data.tools_used || \"\")\n  .split(\",\")\n  .map(tool => tool.trim())\n  .filter(Boolean);\n\nconst chips = tools\n  .map(tool => `            <span>${tool}</span>`)\n  .join(\"\\n\");\n\nconst cardNumber = `CASE FILE ${String(data.project_number).padStart(2, \"0\")}`;\n\nconst projectCardHtml = `\n        <!-- ${cardNumber} -->\n        <a\n          class=\"system-card\"\n          href=\"${projectUrl}\"\n          target=\"_blank\"\n          rel=\"noopener\"\n        >\n          <div class=\"card-number\">${cardNumber}</div>\n\n          <h3>${data.project_name}</h3>\n\n          <p class=\"case-problem\">\n            ${data.problem_solved}\n          </p>\n\n          <ul class=\"case-structure\">\n            <li><strong>Input:</strong> Structured project details captured through n8n</li>\n            <li><strong>Process:</strong> Dynamic documentation generation using workflow logic</li>\n            <li><strong>Routing:</strong> Project artifacts routed into GitHub repository folders</li>\n            <li><strong>Validation:</strong> File structure, Markdown output, and workflow JSON checked before publishing</li>\n            <li><strong>Output:</strong> README, setup guide, workflow summary, LinkedIn draft, and workflow export</li>\n          </ul>\n\n          <p class=\"case-impact\">\n            ${data.key_learning}\n          </p>\n\n          <p class=\"case-failure\">\n            Failure insight: repeated project work should become a reusable publishing system, not manual copy-paste.\n          </p>\n\n          <div class=\"chips\">\n${chips}\n          </div>\n        </a>\n`;\n\nreturn [\n  {\n    json: {\n      ...data,\n      project_url: projectUrl,\n      website_project_card_html: projectCardHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -528
      ],
      "id": "9279cf0d-e219-420c-918e-3594ae63956d",
      "name": "Generate Website Project Card"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav/Srivastsav"
        },
        "filePath": "index.html",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2448,
        -528
      ],
      "id": "aee6bb92-29ed-449e-a330-4c69a6b908c1",
      "name": "Get Portfolio index.html",
      "webhookId": "5ccbef76-24c4-4adf-bd63-38612075afd4",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav/Srivastsav"
        },
        "filePath": "index.html",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        656,
        -528
      ],
      "id": "46ca9505-a3e3-42f2-8694-5066ce409062",
      "name": "Get Portfolio index.html1",
      "webhookId": "c739fb8b-b05a-43c1-9a3d-4bccf115af4b",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the generated project card HTML from the previous Code node.\nconst websiteCard = $node[\"Generate Website Project Card\"].json.website_project_card_html;\n\n// Read GitHub file content.\nlet indexContent = $json.content || \"\";\n\n// Decode GitHub base64 content into readable HTML.\nif ($json.encoding === \"base64\" && $json.content) {\n  indexContent = Buffer.from($json.content, \"base64\").toString(\"utf8\");\n}\n\n// Stop if content is empty.\nif (!indexContent || typeof indexContent !== \"string\") {\n  throw new Error(\"Could not read index.html content from GitHub node output.\");\n}\n\n// Preferred marker.\nconst startMarker = \"<!-- PROJECTS_START -->\";\n\n// Backup insertion point from your existing website.\nconst caseOneMarker = \"<!-- CASE 01 -->\";\n\nlet updatedIndex = \"\";\n\n// Best case: marker exists, insert card after it.\nif (indexContent.includes(startMarker)) {\n  updatedIndex = indexContent.replace(\n    startMarker,\n    `${startMarker}\\n${websiteCard}`\n  );\n}\n\n// Backup case: marker missing, insert card before CASE 01.\nelse if (indexContent.includes(caseOneMarker)) {\n  updatedIndex = indexContent.replace(\n    caseOneMarker,\n    `<!-- PROJECTS_START -->\\n${websiteCard}\\n\\n        ${caseOneMarker}`\n  );\n}\n\n// If both are missing, stop with useful error.\nelse {\n  throw new Error(\"Neither PROJECTS_START nor CASE 01 marker was found in index.html.\");\n}\n\n// Create branch name for future PR step.\n// Create a clean branch name using project name + timestamp\n// Example: portfolio-update-01-n8n-portfolio-publisher-1777744000000\nconst cleanProjectName = $node[\"Generate Website Project Card\"].json.project_name\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, \"-\")\n  .replace(/^-|-$/g, \"\");\n\nconst branchName = `portfolio-update-${$node[\"Generate Website Project Card\"].json.project_number}-${cleanProjectName}-${Date.now()}`;\n\n// Create commit message for future GitHub update.\nconst commitMessage = `Add ${$node[\"Generate Website Project Card\"].json.project_name} to portfolio website`;\n\n// Return updated HTML and useful metadata.\nreturn [\n  {\n    json: {\n      updated_index_html: updatedIndex,\n      original_sha: $json.sha,\n      branch_name: branchName,\n      commit_message: commitMessage\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -528
      ],
      "id": "9cea1b7d-9597-4b5c-93b4-3761d1678e89",
      "name": "Insert Project Card into Website"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Srivastsav/Srivastsav/contents/index.html",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{$json.message}}\",\n  \"content\": \"{{$json.content}}\",\n  \"sha\": \"{{$json.sha}}\",\n  \"branch\": \"{{$json.branch}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        -528
      ],
      "id": "fba082bb-f6ed-4862-988a-e15b7dd981fa",
      "name": "Update Portfolio index.html via API",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get updated HTML and metadata from the previous node\nconst data = $node[\"Insert Project Card into Website\"].json;\n\n// Convert updated index.html content into base64\n// GitHub API requires file content to be sent as base64\nconst encodedContent = Buffer\n  .from(data.updated_index_html, \"utf8\")\n  .toString(\"base64\");\n\n// Clean branch name in case n8n or a copied expression added \"=\" accidentally\nconst cleanBranch = String(data.branch_name)\n  .replace(/^=/, \"\")\n  .trim();\n\n// Return a clean payload for the HTTP Request node\nreturn [\n  {\n    json: {\n      message: data.commit_message,\n      content: encodedContent,\n      sha: data.original_sha,\n      branch: cleanBranch\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -528
      ],
      "id": "6010a167-6ff8-4ee4-8e53-b84c51904cce",
      "name": "Prepare GitHub Update Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Srivastsav/Srivastsav/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{$node['Insert Project Card into Website'].json.commit_message}}\",\n  \"head\": \"{{$node['Prepare GitHub Update Payload'].json.branch}}\",\n  \"base\": \"main\",\n  \"body\": \"This pull request updates the portfolio website by adding the latest automation project to the System Case Files section.\\n\\nChanges included:\\n- Added a new project card to index.html\\n- Linked the card to the n8n portfolio project folder\\n- Preserved the existing website structure and styling\\n- Generated through the n8n Portfolio Publisher automation\\n\\nReview the visual layout before merging.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        -528
      ],
      "id": "6dfb9be0-d9a7-465a-bf51-1aa3b5d4ccfd",
      "name": "Create Portfolio Pull Request via API",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Srivastsav/Srivastsav/git/ref/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        -528
      ],
      "id": "4c9cc539-0083-44d7-b5ad-ae31acdd3956",
      "name": "Get Main Branch Ref",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the new branch name created earlier\nconst branchName = $node[\"Insert Project Card into Website\"].json.branch_name;\n\n// GitHub returns main branch commit SHA under object.sha\nconst mainBranchSha = $json.object.sha;\n\n// Build the payload GitHub needs to create a new branch\nreturn [\n  {\n    json: {\n      ref: `refs/heads/${branchName}`,\n      sha: mainBranchSha,\n      branch: branchName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -528
      ],
      "id": "0c66ddbe-fd5e-4c4f-b76e-b060cec02fb2",
      "name": "Prepare Branch Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Srivastsav/Srivastsav/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"{{$json.ref}}\",\n  \"sha\": \"{{$json.sha}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        -528
      ],
      "id": "35c0e241-ab75-401e-97de-3eb6cbfec585",
      "name": "Create Portfolio Branch via API",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Portfolio Files": {
      "main": [
        [
          {
            "node": "Generate Website Project Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "README": {
      "main": [
        [
          {
            "node": "Setup Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Guide": {
      "main": [
        [
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post": {
      "main": [
        [
          {
            "node": "Workflow Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Summary": {
      "main": [
        [
          {
            "node": "Create Workflow Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Generate Portfolio Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Workflow Json": {
      "main": [
        [
          {
            "node": "README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Website Project Card": {
      "main": [
        [
          {
            "node": "Get Portfolio index.html1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio index.html": {
      "main": [
        [
          {
            "node": "Generate Workflow Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Portfolio index.html1": {
      "main": [
        [
          {
            "node": "Insert Project Card into Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Project Card into Website": {
      "main": [
        [
          {
            "node": "Get Main Branch Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Portfolio index.html via API": {
      "main": [
        [
          {
            "node": "Create Portfolio Pull Request via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Update Payload": {
      "main": [
        [
          {
            "node": "Update Portfolio index.html via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Portfolio Pull Request via API": {
      "main": [
        [
          {
            "node": "Get Portfolio index.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Main Branch Ref": {
      "main": [
        [
          {
            "node": "Prepare Branch Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Branch Payload": {
      "main": [
        [
          {
            "node": "Create Portfolio Branch via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Portfolio Branch via API": {
      "main": [
        [
          {
            "node": "Prepare GitHub Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9c73d44f-e120-42f4-81e9-5ab5b21182be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b3ee84a9d241b56d99c43119f2f6859b37af60577fa2156d3198a4690f831f0"
  },
  "id": "xH2x7W59Aub4bq8D",
  "tags": []
}