01-n8n-portfolio-publisher-automation/n8n Portfolio Publisher Automation.json
{
  "name": "n8n Portfolio Publisher Automation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst today = new Date().toISOString().split(\"T\")[0];\n\nconst files = {\n  readme_content: `# ${data.project_number} - ${data.project_name}\n\n## Overview\n\nThis project is an n8n workflow automation built to solve a practical career and portfolio problem.\n\n## Problem Solved\n\n${data.problem_solved}\n\n## Tools Used\n\n${data.tools_used}\n\n## Workflow Steps\n\n${data.workflow_steps}\n\n## Key Learning\n\n${data.key_learning}\n\n## Files Included\n\n- README.md\n- setup-guide.md\n- linkedin-post.md\n- workflow-summary.md\n\n## Project Status\n\nCompleted basic documentation generation workflow.\n\n## Date Created\n\n${today}\n`,\n\n  setup_content: `# Setup Guide - ${data.project_name}\n\n## Prerequisites\n\n- n8n installed and running\n- Basic understanding of n8n nodes\n- GitHub repository for portfolio projects\n\n## Steps\n\n1. Open n8n.\n2. Create a new workflow.\n3. Add a Manual Trigger node.\n4. Add a Set node for project details.\n5. Add a Code node to generate portfolio files.\n6. Run the workflow.\n7. Review the generated documentation output.\n\n## Notes\n\nThis setup guide is generated automatically by the n8n Portfolio Publisher workflow.\n`,\nlinkedin_content: `Built a real automation system using n8n.\n\nProject: ${data.project_name}\n\nProblem:\n${data.problem_solved}\n\nSolution:\nDesigned an end-to-end workflow that captures input via form, processes data using automation logic, and publishes structured outputs directly to GitHub.\n\nTech Stack:\n${data.tools_used}\n\nWorkflow:\n${data.workflow_steps}\n\nWhat I learned:\n${data.key_learning}\n\nThis project is part of my journey building practical automation systems instead of just learning tools.\n\nAll outputs including documentation and workflow JSON are generated automatically.\n\n#n8n #Automation #WorkflowAutomation #GitHub #Projects #DataEngineering\n`,\n\n  summary_content: `# Workflow Summary - ${data.project_name}\n\n## Project Number\n\n${data.project_number}\n\n## Folder Name\n\n${data.folder_name}\n\n## Automation Purpose\n\n${data.problem_solved}\n\n## Technical Stack\n\n${data.tools_used}\n\n## Workflow Design\n\n${data.workflow_steps}\n\n## Learning Outcome\n\n${data.key_learning}\n`\n};\nconst cleanName = data.project_name\n  .toLowerCase()\n  .replace(/[^a-z0-9 ]/g, \"\")\n  .replace(/\\s+/g, \"-\");\n\ndata.folder_name = `${data.project_number}-${cleanName}`;\nreturn [\n  {\n    json: {\n      ...data,\n      readme_file_name: \"README.md\",\n      setup_file_name: \"setup-guide.md\",\n      linkedin_file_name: \"linkedin-post.md\",\n      summary_file_name: \"workflow-summary.md\",\n      ...files\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "5ec4605b-b949-4d50-a164-e4b7dc057665",
      "name": "Generate Portfolio Files"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/README.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.readme_content}}",
        "commitMessage": "Added README for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        848,
        0
      ],
      "id": "2935f528-4649-42e1-905b-bc06f3abc5fa",
      "name": "README",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/setup-guide.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.setup_content}}",
        "commitMessage": "AddedSetup Guide for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1072,
        0
      ],
      "id": "f5a7539d-7cac-4094-ac4c-f20a28770052",
      "name": "Setup Guide",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/linkedin-post.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.linkedin_content}}",
        "commitMessage": "Added linkedin for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1296,
        0
      ],
      "id": "c09aa2b2-85d6-46e0-a5b6-a4cc25eceaaa",
      "name": "LinkedIn Post",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/workflow-summary.md\"}}",
        "fileContent": "={{$node[\"Generate Portfolio Files\"].json.summary_content}}",
        "commitMessage": "Added portfolio for project"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1520,
        0
      ],
      "id": "a01941f2-f17c-49f5-b287-f20b7e024c53",
      "name": "Workflow Summary",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "n8n Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Project Number",
              "fieldName": "project_number"
            },
            {
              "fieldLabel": "Project Name",
              "fieldName": "project_name"
            },
            {
              "fieldLabel": "Folder Name",
              "fieldName": "folder_name"
            },
            {
              "fieldLabel": "Problem Solved",
              "fieldType": "textarea",
              "fieldName": "problem_solved"
            },
            {
              "fieldLabel": "Tools Used",
              "fieldName": "tools_used"
            },
            {
              "fieldLabel": "Workflow Steps",
              "fieldType": "textarea",
              "fieldName": "workflow_steps"
            },
            {
              "fieldLabel": "Key Learning",
              "fieldType": "textarea",
              "fieldName": "key_learning"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        176,
        0
      ],
      "id": "707439b9-ee43-44eb-a599-c712d6cb93cd",
      "name": "On form submission",
      "webhookId": "5c1bf244-f6fc-4500-bff0-3055e6873e34"
    },
    {
      "parameters": {
        "jsCode": "const workflow = $workflow;\n\nreturn [\n  {\n    json: {\n      workflow_json: JSON.stringify(workflow, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "dd67abe3-d32c-497f-96cd-578bf96fa792",
      "name": "Generate Workflow Json"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Srivastsav",
          "mode": "list",
          "cachedResultName": "Srivastsav",
          "cachedResultUrl": "https://github.com/Srivastsav"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-portfolio",
          "mode": "list",
          "cachedResultName": "n8n-portfolio",
          "cachedResultUrl": "https://github.com/Srivastsav/n8n-portfolio"
        },
        "filePath": "={{$node[\"Generate Portfolio Files\"].json.folder_name + \"/workflow.json\"}}",
        "fileContent": "={{$node[\"Generate Workflow Json\"].json.workflow_json}}",
        "commitMessage": "Added Workflow Json"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1744,
        0
      ],
      "id": "03c6be5b-1e21-4d60-b475-5ec175fa11d0",
      "name": "Create Workflow Json",
      "webhookId": "432da9f1-dd7e-4b0e-be57-cd8b4f08e4c6",
      "credentials": {
        "githubApi": {
          "id": "YwDh7q0JKeHDiYXH",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Portfolio Files": {
      "main": [
        [
          {
            "node": "Generate Workflow Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "README": {
      "main": [
        [
          {
            "node": "Setup Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Guide": {
      "main": [
        [
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post": {
      "main": [
        [
          {
            "node": "Workflow Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Summary": {
      "main": [
        [
          {
            "node": "Create Workflow Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Generate Portfolio Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Workflow Json": {
      "main": [
        [
          {
            "node": "README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8da345f8-f0c1-4ba3-8f03-cdc037972ce3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b3ee84a9d241b56d99c43119f2f6859b37af60577fa2156d3198a4690f831f0"
  },
  "id": "xH2x7W59Aub4bq8D",
  "tags": []
}